body{
    /* margin: 0px 75px 0px 75px; */
    background-color: black;
} 
 .white{
     background-color: #fff; 
     width: 563px;
     text-align: center;
     margin: auto;
     overflow: hidden;
} 
.free{ 
    display: flex;
    background-color: #fff;
}
.free h5{
    margin: 5px 0px 0px 228px;
    background-color: yellow;
    padding: 2px 4px;
}
.free span{
    position: relative;
    top: 20px;
    left: -8px;
}
.free h2{
    margin-left: 0px;
    font-family: cursive;
}
.new {
    width: 563px;
    word-spacing: 15px;
    font-size: 10px;
} 
.new span{
    margin: 0px 0px 0px 0px;
}
/* .new hr{
    color: black;
    border-bottom: 2px solid;
} */
.good{
    background-image: url("/img/bg_img2.jpg");
}
.good h3{
    text-align: center;
    margin-top: 8px;
    padding-top: 15px;
    letter-spacing: 5px;
    color: black;
    font-size: 20px;
}
.goood{
    width: 75%;
    margin-left: 69px;
    border: 3px solid aqua;
    margin-top: -17px;
}
.goood1{
    width: 76%;
    margin-left: 69px;
    border-bottom: 6px solid rgb(21 205 205);
}
.good h4{
    text-align: center;
    font-size: 70px;
    margin-top: -10px;
}
.good h6{
    letter-spacing: 9px;
    text-align: center;
    font-size: 40px;
    margin-top: -96px;
}
.img1{
    position: relative;
    top: -85px;
}
.img2{
    position: relative;
    top: -85px;
}
.good h2{
    text-align: center;
    font-size: 35px;
    letter-spacing: 10px;
    color: #16d1c0;
    margin-top: -80px;
}
.in h2{
    text-align: center;
    margin-top: -16px;
    margin-bottom: 5px;
}
.in p{
    margin: 0px 35px 0px 35px;
}
.fol h4{
    margin: 0px 0px 0px 404px;
}
.fol hr{
    border: 2px solid
}
.fol {
    display: flex;
}
.logo{
   height: 20px;
   display: flex;
}
.logo img{
    margin-left: 10px;
}

